/* Responsive for notebook screens */
@media (max-width: 1500px) {
    .container .herobackground .avengers {
        max-width: 80%;
        bottom: 0;
        
    }
    .container  .content .contenth2 {
        font-size: 30px;
        margin-right: 60px;
    }
    .container .content .contentp {
        font-size: 25px;
    }
}
