
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: pridi;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, #dee6ee 50% , #e0e0e0);
    padding: 15px 20px;



    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 70px;


    .logoheader{
        max-width: 5%;
        margin-left: 50px;
    }



.nav-menu ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-right: 200px;
    align-items: center;
}

.nav-menu ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
    padding: 10px 130x;
}

.nav-menu ul li a:hover {
    color: #c90000;
}

}

.container{
        display: flex;
        flex-direction: column;
        height: 100%;

.boxtop{
 height: 480px;
 background: linear-gradient(to right,   #250000e7, #022c7a  , #2b1f00e7);
 flex-direction: column;
 align-items: center;
}



.boxmid{
display: flex;
flex-direction: column;
height: 200px;
background: linear-gradient(to right,   #250000e7, #022c7a  , #2b1f00e7);
align-items: center;
/* justify-content: flex-end; */



.search-bar {
    display: flex;
    align-items: center;
    height: auto;
    width: auto;
    margin-top: 50px;
    /* background: linear-gradient(to bottom, #ffbb00 50% , #705926); */
    /* background: transparent; */
    background: linear-gradient(to bottom, #ffffff 50% , #e0e0e0);
    border-radius: 100px;
    padding: 10px;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.5);
    z-index: 1;
   
    
}
.search-bar:hover{
    box-shadow: 0px 0px 20px rgb(255, 166, 0);
}

.search-bar:focus-within {
    box-shadow: 0px 0px 20px rgb(255, 166, 0);
}

.search-input {
    /* flex: 1; */
    background: transparent;
    width: 500px;
    height:  50px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    z-index: 1;
    font-size: 20px;
    
}

.search-button {
    background: transparent;
    color: white;
    border: none;
    padding: 0px 0px;
    cursor: pointer;
    /* border-radius: 50px; */
    transition: background 0.3s;
    z-index: 1;
    /* margin-left: 0px; */
    
    .logo-btn{
        width: 50px;
    }
}

.search-button:hover {
    background: transparent;
}
}

.boxdown{
height: 300px;
background: linear-gradient(to right,  #250000e7, #022c7a  , #2b1f00e7);
flex-direction: column;
align-items: center;
}


}

.background{
    
    width: 60%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: auto;
    position: absolute;
    overflow: hidden;
    /* clip-path: inset(0 0 50px 0);  */
    z-index: 0;
    background-size: cover;
}


@media (max-width: 1450px) {
    .search-input {
        width: 400px;
    }
    .main-header{
        height: 60px;
        }
     .logoheader{
         max-width: 5%;
        margin-left: 50px;
        margin-top: 10px;
        }
}

@media (max-width: 1200px) {
    .nav-menu ul {
        gap: 15px; /* ลดระยะห่างให้เหมาะสม */
        padding: 0;
        margin-right: 50px;
        flex-direction: row;
    }
}